[Unit]
Description=Mail Tracker Application
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=mail-tracker
WorkingDirectory=/path/to/mail-tracker
Environment="PATH=/path/to/mail-tracker/venv/bin"
ExecStart=/path/to/mail-tracker/venv/bin/gunicorn -c gunicorn_config.py tracker:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
